@model FindingATournament_MVC.Models.torneo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está usted seguro que desea eliminar este registro?</h3>
<div>
    <h4>torneo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEquipos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEquipos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroRondas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroRondas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DispoinibilidadLugares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispoinibilidadLugares)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
