@model FindingATournament_MVC.Models.torneo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>torneo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEquipos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEquipos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroRondas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroRondas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DispoinibilidadLugares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispoinibilidadLugares)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
